.total {
    padding-top: 4.4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-size: 5.5vw;
    font-weight: 600;
    line-height: 7.7vw;
    letter-spacing: -1px;
}