.checkbox {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    border: 2px solid #DDD;
    margin-bottom: 8px;

  &__title {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
}

/* checkbox */
.checkbox__wrapper.checkbox__active {
  background: #26B657;
  border: 2px solid #26B657;
}
.checkbox__wrapper {
  width: 80px;
  height: 30px;
  background: #FFF;
  position: relative;
  border-radius: 50px;
  border: 2px solid #EEE;
  transition: all .5s;
  &:after {
    content: '';
    position: absolute;
    right: 10px;
  }

  &:before {
    content: '';
    position: absolute;
    left: 10px;
  }

  label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  }

  input[type=checkbox] {
    visibility: hidden;

    &:checked+label {
      left: 39px;
    }
  }
}
/* checkbox */