.filterscroll {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 8px;
  overflow-x: scroll;
  &__item {
    padding: 8px 16px;
    font-weight: 600;
    color: #000;
    border-radius: 24px;
    border: 2px solid #DDD;
    white-space: nowrap;
  }
  &__item::first-letter {
    text-transform: uppercase;
  }
  &__item.active {
    border: none;
    background: #EB7F00;
    color: #fff;
  }
}
.filterscroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}