.orderItem {
    &__popupBox {
        border-radius: 12px;
        border: 2px solid #BDBDBD;
        border-radius: 24px;
        background: #FFF;
        width: 90%;
        padding: 16px;
      }
      &__popupTitle {
        max-width: 400px;
        color: #000;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -1.2px;
        padding-bottom: 30px;
      }
    
      &__popupBtns {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    
      &__popupBtn {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.8px;
        padding: 12px 58px;
        border-radius: 12px;
        color: #FFFCF8;
      }
      &__popupBtnY {
        background: #26B657;
      }
      &__popupBtnN {
        background: #E63152;
      }
    .menuitem {
        &__popupPhoto {
            width: 100%;
            height: 57.7vw;
            background: url("/images/menuitem/pizza.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 24px 24px 0 0;
            position: relative;
            display: flex;
            align-items: flex-end;
        }
    
        &__serves {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0 4.4vw 4.4vw;
        }
    
        &__servesItem {
            display: inline-flex;
            align-items: center;
            border-radius: 1.2vw;
            background: rgba(0, 0, 0, 0.75);
            padding: 1.1vw 2.2vw;
    
            svg {
                width: 4.4vw;
                height: 4.4vw;
            }
    
            p {
                color: #F5F5F5;
                font-size: 3.8vw;
                font-weight: 600;
                line-height: 5.5vw;
                letter-spacing: -0.194vw;
                padding-left: 1.1vw;
            }
        }
    
        &__popupClose {
            position: absolute;
            width: 13.3vw;
            height: 13.3vw;
            background: #FFF;
            border-radius: 50%;
            right: 4.4vw;
            top: 4.4vw;
        }
    
        &__popupClose::after,
        &__popupClose::before {
            content: '';
            position: absolute;
            height: 5vw;
            width: 0.56vw;
            background-color: #000;
            top: calc(13.3vw/2 - 5vw/2);
            left: calc(13.3vw/2 - 0.56vw/2);
        }
    
        &__popupClose::after {
            transform: rotate(45deg);
        }
    
        &__popupClose::before {
            transform: rotate(315deg);
        }
    
        &__popupInform {
            background: #FFF;
            padding: 2.2vw 4.4vw 4.4vw;
            position: relative;
            overflow: hidden;
            width: 100%;
        }
    
        &__popupInform__triger {
            padding: 2.2vw 4.4vw 17.4vw;
        }
    
        &__popupName {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
        &__popupWrapper {
            padding: 4.4vw 0 4.4vw;
            border-bottom: 1px solid #e1e1e1;
        }
    
        &__popupTitle {
            font-size: 3.3vw;
            line-height: 4.4vw;
            text-transform: uppercase;
            padding-bottom: 1.1vw;
        }
    
        &__popupText,
        &__additiveName,
        &__additivePrice {
            font-size: 4.4vw;
            line-height: 6.6vw;
        }
    
        &__additives {
            padding: 4.4vw 0 4.4vw;
        }
    
        &__additivePrice {
            color: #26B657;
        }
        &__info_btn,
        &__popup_btn {
            button {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10vw;
                height: 10vw;
                border-radius: 50%;
    
                svg {
                    width: 6.6vw;
                    height: 6.6vw;
                }
            }
        }
    
        &__popup_btn {
            button {
                background: #F5F5F5;
            }
        }
    
        &__info_btn_active {
            display: flex;
            align-items: center;
            column-gap: 10px;
    
            span {
                color: #27257A;
                font-size: 6.6vw;
                font-weight: 600;
                line-height: 32px;
                letter-spacing: -1.2px;
            }
    
            button {
                background: #F5F5F5;
            }
        }
    
        &__name {
            color: #000;
            font-size: 5.5vw;
            font-weight: 600;
            line-height: 7.7vw;
            letter-spacing: -1px;
        }
    
        &__price {
            color: #2EB955;
            font-size: 5vw;
            font-weight: 600;
            line-height: 6.1vw;
            letter-spacing: -0.9px;
        }
    
        &__priceDiscount {
            color: #585858;
            font-size: 5vw;
            font-weight: 600;
            line-height: 6.1vw;
            letter-spacing: -0.9px;
            text-decoration: line-through;
            padding-right: 8px;
        }
    
        &__alergenBox {
            position: absolute;
            top: 0;
            display: flex;
            column-gap: 1.1vw;
            padding-top: 4.4vw;
            padding-left: 4.4vw;
        }
    
        &__alergen,
        &__new,
        &__spicy,
        &__top {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 8.8vw;
            height: 6.6vw;
            border-radius: 1.1vw;
    
            svg {
                width: 4.5vw;
                height: 4.5vw;
            }
        }
    
        &__alergen {
            background: #FF5C00;
        }
    
        &__new {
            background: #0094FF;
            color: #fff;
            font-size: 10px;
            font-weight: 600;
        }
    
        &__spicy {
            background: #FFC700;
        }
    
        &__top {
            background: #FF5C00;
        }
    
        &__discount {
            display: flex;
            align-items: center;
            height: 6.6vw;
            padding: 0 2.2vw;
            color: #FFF;
            text-align: center;
            font-family: Roboto;
            font-weight: 700;
            font-size: 3.8vw;
            border-radius: 1.1vw;
            background: #F00;
        }
    
        &__textareaBox {
            padding-top: 4.4vw;
        }
    }
    padding: 16px 0 16px;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__info {
        display: flex;
        column-gap: 8px;
    }
    &__photo {
        width: 17.7vw;
        height: 17.7vw;
        border-radius: 3.3vw;
        background: url("/images/menuitem/pizza.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 3.3vw;
    }


    &__infoTitle {
        color: #3E3E3E;
        font-size: 4.4vw;
        font-style: normal;
        font-weight: 400;
        line-height: 6.6vw;
        padding-bottom: 8px;
    }

    &__infoBoxBtn {
        display: flex;
        align-items: center;
        column-gap: 1.1vw;
        padding-bottom: 8px;
    }

    &__infoBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10vw;
        height: 10vw;
        border-radius: 50%;

        svg {
            height: 6.6vw;
            width: 6.6vw;
        }
    }
    &__commentBox {
        display: flex;
        align-items: flex-start;
        column-gap: 8px;
        svg {
            min-width: 14px;
        }
    }
    &__comment {
        max-width: 49.4vw;
        overflow: hidden;
        transition: all .8s;
    }
    &__infoValue {
        color: #27257A;
        font-size: 6.6vw;
        font-weight: 600;
        line-height: 8.8vw;
        letter-spacing: -1.2px;
    }

    &__infoAdditive {
        color: #696969;
        font-size: 3.8vw;
        line-height: 5.5vw;
        letter-spacing: -0.7px;
        padding-bottom: 4px;
    }
    &__infoAdditive::first-letter {
        text-transform: uppercase;
    }

    &__priceItems {
        display: block;
        color: #3E3E3E;
        font-size: 4.4vw;
        font-weight: 600;
        line-height: 6.6vw;
        padding-bottom: 4px;
    }
    &__price {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: flex-end;
    }
    &__priceItem {
        font-size: 3.8vw;
        line-height: 5.5vw;
        letter-spacing: -0.7px;
    }
}



.textarea {
    padding: 4.4vw 0 4.4vw 4.4vw;
    line-height: 24px;
    width: 100%;
    border-radius: 3.3vw;
    border: 1px solid #DDD;
    background: #FAFAFA;
    resize: none;
    height: auto;
    overflow: hidden;
}

.textarea:focus-visible {
    border: #000;
}