.deliveryFormWrapper {
  border-radius: 32px;
  padding: 16px;
  background-color: #fffcf8;
  border: 2px solid #0085ff;
  margin-bottom: 16px;
}

.deliveryFormTitleWrapper {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.deliveryFormTitle {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

.deliveryForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
