.menuWork {
  color: red;
}
.menuNoWork {
  opacity: 0.5;
  pointer-events: none;
}
.serviceSheet {
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4.4vw;
    border: 2px solid #DDD;
    padding: 10px 16px;
    height: 17.7vw;
  }
  &__row {
    display: flex;
    align-items: center;
  }
  &__nameService {
    display: flex;
    flex-direction: column;
  }
  &__name {
    color: #000000;
    font-weight: 600;
    font-size: 4.4vw;
    line-height: 6.6vw;
  }
  &__timeService {
    color: #696969;
    font-size: 3.3vw;
    line-height: 4.4vw;
  }
}