.menuitem {
    padding-bottom: 2.3vw;

    &__wrapper {
        border-radius: 24px;
        background: #FFF;
        box-shadow: 0px 4px 0px 0px #DDD;
        position: relative;
        border: 1px solid #DDD;
    }

    &__wrapper__active {
        border: 4px solid #2EB955;
        .menuitem__photo {
            border-radius: 20px 20px 0 0;
        }
    }

    &__photo,
    &__popupPhoto {
        width: 100%;
        height: 57.7vw;
        background: url("/images/menuitem/pizza.png");
        background-color: #fff;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 24px 24px 0 0;
        position: relative;
        display: flex;
        align-items: flex-end;
    }

    &__serves {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 4.4vw 4.4vw;
    }

    &__servesItem {
        display: inline-flex;
        align-items: center;
        border-radius: 1.2vw;
        background: rgba(0, 0, 0, 0.75);
        padding: 1.1vw 2.2vw;

        svg {
            width: 4.4vw;
            height: 4.4vw;
        }

        p {
            color: #F5F5F5;
            font-size: 3.8vw;
            font-weight: 600;
            line-height: 5.5vw;
            letter-spacing: -0.194vw;
            padding-left: 1.1vw;
        }
    }

    &__popupClose {
        position: absolute;
        width: 13.3vw;
        height: 13.3vw;
        background: #FFF;
        border-radius: 50%;
        right: 4.4vw;
        top: 4.4vw;
    }

    &__popupClose::after,
    &__popupClose::before {
        content: '';
        position: absolute;
        height: 5vw;
        width: 0.56vw;
        background-color: #000;
        top: calc(13.3vw/2 - 5vw/2);
        left: calc(13.3vw/2 - 0.56vw/2);
    }

    &__popupClose::after {
        transform: rotate(45deg);
    }

    &__popupClose::before {
        transform: rotate(315deg);
    }

    &__popupInform {
        background: #FFF;
        padding: 2.2vw 4.4vw 4.4vw;
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    &__popupInform__triger {
        padding: 2.2vw 4.4vw 17.4vw;
    }

    &__popupName {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__popupWrapper {
        padding: 4.4vw 0 4.4vw;
        border-bottom: 1px solid #e1e1e1;
    }

    &__popupTitle {
        font-size: 3.3vw;
        line-height: 4.4vw;
        text-transform: uppercase;
        padding-bottom: 1.1vw;
    }

    &__popupText,
    &__additiveName,
    &__additivePrice {
        font-size: 4.4vw;
        line-height: 6.6vw;
    }

    &__additives {
        padding: 4.4vw 0 4.4vw;
    }

    &__additivePrice {
        color: #26B657;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4.4vw;
    }

    &__infoItem {
        display: none;
        column-gap: 2.2vw;
        padding-bottom: 2.2vw;

        div {
            display: flex;
            align-items: center;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 4.4vw;
                height: 4.4vw;
            }
        }

        p {
            padding-top: 2.5px;
            color: #BDBDBD;
            font-size: 3.8vw;
            font-weight: 600;
            line-height: 5.5vw;
            letter-spacing: -0.7px;
        }
    }

    &__info_btn,
    &__popup_btn {
        button {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10vw;
            height: 10vw;
            border-radius: 50%;

            svg {
                width: 6.6vw;
                height: 6.6vw;
            }
        }
    }

    &__info_btn {
        button {
            background: #2EB955;
        }
    }

    &__popupWrapper {
        .menuitem__popup_btn {
            button {
                background: #F5F5F5;
            }
        }
    }

    &__info_btn_active {
        display: flex;
        align-items: center;
        column-gap: 10px;

        span {
            color: #27257A;
            font-size: 6.6vw;
            font-weight: 600;
            line-height: 32px;
            letter-spacing: -1.2px;
        }

        button {
            background: #F5F5F5;
        }
    }

    &__info_quantity {
        position: relative;
        min-width: 12vw;
        min-height: 12vw;
        border-radius: 50%;
        background-color: #2EB955;
        color: #FFF;
        span {
            font-size: 6.6vw;
            font-weight: 700;
            line-height: 6vw;
            letter-spacing: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-51%, -50%);
        }
    }

    &__name {
        color: #000;
        font-size: 5.5vw;
        font-weight: 600;
        line-height: 7.7vw;
        letter-spacing: -1px;
    }

    &__price {
        color: #2EB955;
        font-size: 5vw;
        font-weight: 600;
        line-height: 6.1vw;
        letter-spacing: -0.9px;
    }

    &__priceDiscount {
        color: #585858;
        font-size: 5vw;
        font-weight: 600;
        line-height: 6.1vw;
        letter-spacing: -0.9px;
        text-decoration: line-through;
        padding-right: 8px;
    }

    &__alergenBox {
        position: absolute;
        top: 0;
        display: flex;
        column-gap: 1.1vw;
        padding-top: 4.4vw;
        left: 4.4vw;
    }

    &__vegan,
    &__alergen,
    &__new,
    &__spicy,
    &__top {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8.8vw;
        height: 6.6vw;
        border-radius: 1.1vw;

        svg {
            width: 4.5vw;
            height: 4.5vw;
        }
    }

    &__alergen {
        background: #FF5C00;
    }
    &__vegan {
        background: #2eb855;
    }

    &__new {
        background: #0094FF;
        color: #fff;
        font-size: 10px;
        font-weight: 600;
    }

    &__spicy {
        background: #FFC700;
    }

    &__top {
        background: #FF5C00;
    }

    &__discount {
        display: flex;
        align-items: center;
        height: 6.6vw;
        padding: 0 2.2vw;
        color: #FFF;
        text-align: center;
        font-weight: 700;
        font-size: 3.8vw;
        border-radius: 1.1vw;
        background: #F00;
    }

    &__textareaBox {
        padding-top: 4.4vw;
    }
}

.menuitem__min {

    .menuitem {
        &__servesItem {
            display: none;
        }

        &__info {
            position: relative;
            padding: 4.4vw 4.4vw 0 4.4vw;
            align-items: flex-end;
            width: 100%;
        }

        &__wrapper {
            display: flex;
            padding: 4.4vw;
        }

        &__photo {
            width: auto;
            min-width: 17.7vw;
            height: 17.7vw;
            border-radius: 3.3vw;
        }

        &__infoItem {
            display: flex;
        }

        &__alergenBox {
            left: 4.4vw;
            top: 0;
            padding-top: 0;
        }

        &__alergen,
        &__vegan,
        &__new,
        &__spicy,
        &__top {
            background: unset;
            width: auto;
            height: auto;

        }

        &__alergen,
        &__top {
            path {
                fill: #FF5C00;
            }
        }
        &__vegan {
            path {
                fill: #26B657;
            }
        }

        &__new {
            color: #0094FF;
        }

        &__spicy {
            path {
                fill: #FFC700;
            }
        }

        &__price {
            font-size: 4.4vw;
            line-height: 6.6vw;
            letter-spacing: -0.8px;
        }

        &__discount {
            display: flex;
            align-items: center;
            height: 6.6vw;
            padding: 0 0;
            color: #FF0000;
            text-align: center;
            font-weight: 700;
            font-size: 3.8vw;
            border-radius: 0;
            background: transparent;
        }
    }

    .menuitem__popupPhoto {
        .menuitem__alergenBox {
            position: absolute;
            top: 0;
            display: flex;
            column-gap: 1.1vw;
            padding-top: 4.4vw;
            left: 4.4vw;
        }

        .menuitem__alergen {
            background: #FF5C00;
        }
        .menuitem__vegan {
            background: #26B657;
        }

        .menuitem__alergen,
        .menuitem__top,
        .menuitem__vegan {
            path {
                fill: #fff;
            }
        }

        .menuitem__spicy {
            path {
                fill: #fff;
            }
        }

        .menuitem__new {
            background: #0094FF;
            color: #fff;
            font-size: 10px;
            font-weight: 600;
        }

        .menuitem__spicy {
            background: #FFC700;
        }

        .menuitem__top {
            background: #FF5C00;
        }

        .menuitem__alergen,
        .menuitem__vegan,
        .menuitem__new,
        .menuitem__spicy,
        .menuitem__top {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 8.8vw;
            height: 6.6vw;
            border-radius: 1.1vw;

            svg {
                width: 4.5vw;
                height: 4.5vw;
            }
        }

        .menuitem__discount {
            display: flex;
            align-items: center;
            height: 6.6vw;
            padding: 0 2.2vw;
            color: #FFF;
            text-align: center;
            font-weight: 700;
            font-size: 3.8vw;
            border-radius: 1.1vw;
            background: #F00;
        }
    }
}

.textarea {
    padding: 4.4vw 0 4.4vw 4.4vw;
    line-height: 24px;
    width: 100%;
    border-radius: 3.3vw;
    border: 1px solid #DDD;
    background: #FAFAFA;
    resize: none;
    height: auto;
    overflow: hidden;
}

.textarea:focus-visible {
    outline: none;
    border-color: #26B657;
}
