// .clientinfo__bcg {
//     padding-top: 100px;
// }
.clientinfo {
    // padding-top: 40px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &__background {
        position: absolute;
        width: calc(100% + 32px);
        z-index: -1;
        top: 0;
        height: 142px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__logo {
        padding: 9px;
        border-radius: 12px;
        border: 2px solid #DDD;
        margin-bottom: 16px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 80px;
        height: 80px;
    }

    &__type {
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
    }

    &__name {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: -1.2px;
        text-align: center;
    }

    &__worktime {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            margin-left: 4px;
            color: #000;
            font-size: 18px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: -0.9px;
        }
    }
}