.modal {
  &__popup {
    opacity: 0;
    display: flex;
    pointer-events: none;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    padding-top: 65px;
    transition: 0.5s;
    overflow-y: scroll;
    align-items: stretch;
    justify-content: flex-end;
    flex-direction: column;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    background-color: var(--background-popup);
    flex-wrap: nowrap;
    align-content: center
  }

  &__popupActive {
    pointer-events: all;
    opacity: 1;
    z-index: 100;
  }
  &__popupActive__height {
    justify-content: flex-start;
  }
  &__popupContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
.modal__orderPage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
}
