.deliveryTimeButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deliveryTimeButton {
  cursor: pointer;
  width: 45%;
  font-size: 12px;

  border-radius: 15px;
}

.active {
  background-color: #26b657;
  color: white;
}
