.header {
  padding: 8px 16px;
  border-bottom: 1px solid #DDD;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  &__homeLink {
    padding-right: 16px;
    display: inline-block;
    line-height: 0;
  }
  &__logo {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 69px;
    height: 48px;
}
  &__wrapper {
    align-items: center;
    display: flex;
    column-gap: 16px;
    a {
      display: inline-block;
      line-height: 0;
    }
  }
  &__burgerBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 64px;
    height: 24px;
    span {
      display: inline-block;
      line-height: 0;
    }
  }
  &__burger {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 2px;
    background: #000;
    transition: background .5s;
  }
  &__burgerActive{
    background: transparent;
  }
  &__burgerActive.header__burger::before {
    transform: rotate(45deg);
    top: 0;
  }
  &__burgerActive.header__burger::after {
    transform: rotate(-45deg);
    bottom: 0;
  }
  &__burger::after,
  &__burger::before {
    content: '';
    position: absolute;
    transition: all .8s;
    transform: rotate(0deg);
    width: 18px;
    height: 2px;
    background: #000;
  }
  &__burger::after {
    bottom: -5px;
  }
  &__burger::before {
    top: -5px;
  }
  &__search {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 5;
    pointer-events: none;
  }
  
  &__searchOpen {
    pointer-events: all;
    overflow-y: auto;
  }
}