.orderFooter {
    border-top: 1px solid #e1e1e1;
    padding: 16px 16px 0 16px;

    &__title {
        font-size: 3.3vw;
        font-weight: 600;
        line-height: 4.4vw;
        letter-spacing: -0.24px;
        text-transform: uppercase;
        padding-bottom: 2.2vw;
    }

    &__payment {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__paymentMethod {
        font-size: 4.4vw;
        font-weight: 600;
        line-height: 6.6vw;
        letter-spacing: -0.8px;
        padding: 2.2vw 4.4vw;
        border-radius: 6.6vw;
        border: 2px solid #DDD;
    }

    &__paymentActive {
        color: #FFF;
        border: 1px solid #EB7F00;
        background: #EB7F00;
    }

    &__btn {
        padding: 4.4vw 0;

        button {
            width: 100%;
            padding: 3.3vw 0;
            border-radius: 3.3vw;
            background: #26B657;
            color: #FFF;
            font-size: 4.4vw;
            font-weight: 600;
            line-height: 6.6vw;
            letter-spacing: -0.8px;
        }
    }
}