.orderFooter {
    border-top: 1px solid #e1e1e1;
    padding: 16px 16px 0 16px;

    &__payment {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__paymentBox {
        overflow: hidden;
        transition: all 0.8s;
    }
    &__paymentActive {
        color: #FFF;
        border: 1px solid #26B657;
        background: #26B657;
    }
    &__tips {
        transition: all 0.8s;
        height: 0;
        overflow: hidden;
    }
    

    &__emailInput {
        margin-top: 16px;
        padding: 12px 16px;
        width: 100%;
        border-radius: 12px;
        border: 1px solid #DDD;
        background: #FAFAFA;
        color: #696969;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.32px;
    }

    &__emailInput::placeholder {
        color: #696969;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.32px;
    }
}