.header {
  padding: 8px 16px;
  border-bottom: 1px solid #DDD;
  display: flex;
  justify-content: space-between;

  &__popupBox {
    border-radius: 12px;
    border: 2px solid #BDBDBD;
    border-radius: 24px;
    background: #FFF;
    width: 90%;
    padding: 16px;
  }

  &__popupTitle {
    max-width: 400px;
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -1.2px;
    padding-bottom: 30px;
  }

  &__popupBtns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
  }

  &__popupBtn {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.8px;
    padding: 12px 58px;
    border-radius: 12px;
    color: #FFFCF8;
  }
  &__popupBtnY {
    background: #26B657;
  }
  &__popupBtnN {
    background: #E63152;
  }

  &__wrapper {
    align-items: center;
    display: flex;
    column-gap: 16px;
    span {
      display: inline-block;
      line-height: 0;
    }
    a {
      height: 24px;
    }
  }

  &__wrapperBox {
    margin: 0 auto;
    text-align: center;
  }

  &__wrappertitle {
    color: #000;
    font-weight: 600;
  }
}