
.header {
  padding: 4px 16px;
  border-bottom: 1px solid #DDD;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  &__wrappertitle {
    color: #000;
    font-weight: 600;
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    height: 60px;
  }
  &__inputBox {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__input {
    outline: none;
    padding: 16px;
    width: 100%;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
  }

  &__input::placeholder {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
  }
  &__boxSvg {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
  }
  &__remove {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
  }
}
