.filtres {
  margin-top: 16px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding-bottom: 16px;
  padding-left: 8px;
  border-bottom: 1px solid #DDD;

  &__page {
    pointer-events: none;
    transition: transform .8s;
    position: absolute;
    width: 100%;
    background: #fff;
    left: 0;
    z-index: 5;
    height: 100vh;
    top: -81px;
    transform: translateX(-100%);
  }

  &__pageOpen {
    transform: translateX(0);
    pointer-events: all;
  }
}